.popup-form__save-button {
  margin: 18px auto 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 21.78px;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 620px) {
  .popup-form__save-button {
    line-height: 17px;
    font-size: 14px;
    width: 238px;
    margin-top: 15px;
    height: 46px;
  }
}