.profile-info__add-button {
  padding: 0;
  margin: 0 auto;
  background-image: url(../../../images/AddButtonBig.svg);
  background-repeat: no-repeat;
  background-color: #000;
  width: 282px;
  height: 50px;
  border: none;
  cursor: pointer;
  grid-area: add;
  justify-self: center;
  align-self: center;
  outline: none;
}

.profile-info__add-button:hover {
  opacity: 60%;
  transition: 2s;
}

@media screen and (min-width: 621px) {
  .profile-info__add-button {
    margin: 0;
    background-image: url(../../../images/AddButton.svg);
    width: 150px;
    background-position: right;
    justify-self: end;
  }
}