.header {
  margin: 45px auto 0;
  max-width: 880px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    margin: 0 auto;
    max-width: 320px;
  }
}